body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.main {
    flex: 1;
}
.modal-content {
    background:#fff;
    padding:1.5em;
    line-height:1.5em;
}

.edit {
    cursor: pointer;
}

.user-review-date {
    float: right;
}