{% extends "layout.html" %}

{% block navbarItem %}
    {% if islog[0] %}
    <div class="buttons">
    <a class="button is-light">
        <strong>Hi, {{islog[1].name}}</strong>
    </a>
    <a href="/logout" class="button is-danger">Log out</a>
    </div>
    {% else %}
    {{super()}}
    {% endif %}
{% endblock %}

{% block content %}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
        <h1 class="title">
            Help others make informed decisions...
        </h1>
        <h2 class="subtitle">
            Rate Your Teacher!
        </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        {% include "search.html" %}
    </div>
</section>
{% endblock %}