<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='bulma.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> -->
    <title>{% block title %} {{title}} {% endblock %}</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="{{url_for('index')}}">
                Rate Your Teacher
              </a>
          
              <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
            
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <a class="button is-primary">
                      <strong>Sign up</strong>
                    </a>
                    <a class="button is-light">
                      Log in
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </nav>

          <!-- Content -->
          <div class="main">
                {% block content %} {% endblock %}
          </div>
          
          <!-- Footer -->
          <footer class="footer">
                <p class="has-text-centered">
                &copy;2018-∞, Student Space
                </p>
            </div>
          </footer>

          <!-- Scripts -->
          <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
          <script src="{{url_for('static' , filename='index.js')}}"></script>
        </body>
        </html>