{% extends "layout.html" %}
{% block head %}
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="{{url_for('static', filename='fontawesome-stars.css')}}">
{% endblock %}


{% block navbarItem %}
    {% if islog[0] %}
    <div class="buttons">
    <a class="button is-light">
        <strong>Hi, {{islog[1].name}}</strong>
    </a>
    <a href="/logout" class="button is-danger">Log out</a>
    </div>
    {% else %}
    {{super()}}
    {% endif %}
{% endblock %}

{% block content %}
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <div class="title">
        <p>{{res.name}}</p>
        <p>{{avgRating}} <i class="fa fa-star has-text-warning"></i></p>
      </div>
      <div class="subtitle">
      <p><strong>{{res.designation}}</strong></p>
      <p><strong>{{res.department.title()}}</strong></p>
      <p><strong>{{res.college.name}}</strong></p>
    </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    {% if not islog[0] %}
    <a class="is-size-4" href="{{url_for('login')}}">Sign in to Review</a>
    {% elif not alreadyReviewed %}
    <h1 class="title is-2">Leave a review</h1>
    <form action="/teacher/{{res.id}}/review" method="post" class="review">
      <div class="field">
        <select id="rating" required name="rating">
          <option disabled selected value>0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <div class="field">
        <label class="label">Course Code/Name</label>
        <div class="control">
          <input type="text" required class="input" name="course" placeholder="The Course taught by the teacher">
        </div>
      </div>
      <div class="field">
        <label class="label">Review</label>
        <div class="control">
          <textarea class="textarea is-primary" required name="review" placeholder="Your Review"></textarea>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" name="anon" id="anon">
            I want to review anonymously
          </label>
        </div>
      </div>
      <div class="field">
        <div class="control">
            <button type="submit" class="button is-info">Submit</button>
        </div>
      </div>
  </form>
  {% else  %}
  <p class="is-size-3 has-text-success">You have already reviewed <i class="fa fa-check-circle"></i></p>
  {% endif %}
  </div>
</section>
<section class="section">
  <div class="container">
    <h3 class="title is-3 has-text-info">{{count}} Student Reviews</h3>
    {% for review in reviews %}
    {% if review[0]['anon'] %}
    <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="{{url_for('static', filename='anon.jpg')}}" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{review[0].rating}} <i class="fa fa-star has-text-warning"></i></strong> <small>[Anonymous]</small> <small>{{review[0].date.strftime('%d-%m-%Y')}}</small>
                <br>
                <p>Course: <strong>{{review[0].course}}</strong></p>
                <p>{{review[0].review}}</p>
              </p>
            </div>
          </div>
        </article>
        </div>
    {% else %}
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="{{review[1].picture}}" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{review[0].rating}} <i class="fa fa-star has-text-warning"></i></strong> <small>{{review[1].name}}</small> <small>{{review[0].date.strftime('%d-%m-%Y')}}</small>
              <br>
              <p>Course: <strong>{{review[0].course}}</strong></p>
              <p>{{review[0].review}}</p>
            </p>
          </div>
        </div>
      </article>
      </div>
    {% endif %}
    {% else %}
      <p>Be the first to leave a review!</p>
    {% endfor %}
  </div>
</section>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='jquery.barrating.min.js')}}"></script>
<script type="text/javascript">
   $(function() {
      $('#rating').barrating({
        theme: 'fontawesome-stars'
      });
   });
</script>
{% endblock %}

